:root  {
    --md-primary-fg-color:        #FFA724;
    --md-accent-fg-color:         #6564DB;
    --md-primary-fg-color--light: #FFA724;
    --md-accent-fg-color--light: #6564DB;
    --md-primary-fg-color--dark:  #FFA724;
    --md-accent-fg-color--dark: #6564DB;
  }
  .md-content__inner li {
    line-height: 1;
  }
  .md-content__inner ul {
    line-height: 1;
  }
  .md-content__inner h2 {
    line-height: 1;
  }
  #home {
    display: none;
  }
  #md-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-nav__title {
    font-size: 18px;
  }